#footer{width: 100%;
  height: 150px;margin-top: 20px
}


#footer .col-lg-3 ul li{padding: 10px ; margin: 20px}
#footer .col-lg-3 ul li a{ font-size: 20px; font-weight: bold; text-decoration: none; color:rgb(153, 0, 153);transition:all 1ms ease-in-out}
#footer .col-lg-3 ul li a:hover{transition:all 1ms ease-in-out ;color:  #00b36b}
