#TEAM{height: 800px; width: 100%; background-color:rgb(245, 245, 240,.2)}
#TEAM h5{margin-top: 50px;text-align: center;}
#TEAM p{font-size: 20px}
#TEAM .grid {
  margin-top: 80px; width: 100%; }

#TEAM .grid .row{background-color:rgb(245, 245, 240,.2)}
 #TEAM img{width: 300px}
#TEAM  .text-muted{margin-top: 10px; margin-left: -30px}
