doctype html
html
 head 
  title Agency
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='description', content='Some description')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  link(rel="stylesheet" href="css/bootstrap.min.css")
  link(rel="stylesheet" href="css/fontawesome.min.css")
  link(rel="stylesheet" href="css/main.css")
 body
  header(style="background: url('img/header-bg.jpg');")
   h3 Welcome To Our Studio!
   h1 IT'S NICE TO MEET YOU
   button(class="btn1") Tell me more
   
   nav(class="navbar navbar-expand-lg  bg-dark")
    a(class="navbar-brand" href="#") Agency
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
     span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarNav")
     ul(class="navbar-nav ml-auto")
      li(class="nav-item ")
       a(class="nav-link active" href="#" data-scroll="SERVICES") SERVICES 
        span(class="sr-only")(current)
      li(class="nav-item")
       a(class="nav-link" href="PORTFOLIO" data-scroll="PORTFOLIO") PORTFOLIO
      li(class="nav-item")
       a(class="nav-link" href="ABOUT" data-scroll="ABOUT") ABOUT
      li(class="nav-item")
       a(class="nav-link" href="TEAM" data-scroll="TEAM") TEAM
      li(class="nav-item")
       a(class="nav-link" href="CONTACT" data-scroll="CONTACT") CONTACT
      
       
  div(id="SERVICES" class="block")
    h5(class="text-center lead") SERVICES
    p(class="text-center lead") Lorem ipsum dolor sit amet consectetur.
    div(class="grid")
     div(class="container")
      div(class="row")
        div(class="col-lg")
         span
          i(class="fas fa-user fa-4x")
         h4(class="lead") E-Commerce
         p(class="text-muted lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
             
        div(class="col-lg")
          span
            i(class="fas fa-user fa-4x")
          h4(class="lead") Responsive Design
          p(class="text-muted lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    
        div(class="col-lg")
          span
           i(class="fas fa-laptop fa-4x")
          h4(class="lead") Web Security
          p(class="text-muted lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
  
  div(id="PORTFOLIO" class="block")
   h2(class="text-center lead") PORTFOLIO
   p(class="text-center lead") Lorem ipsum dolor sit amet consectetur.
   div(class="grid")
    div(class="container")
     div(class="row")
      div(class="col-lg")
       div
        img(src="img/portfolio/01-full.jpg")
         
       h5(class="text-center lead") Threads  
       p(class="text-center lead") Illustration
      div(class="col-lg")
       div
        img(src="img/portfolio/02-full.jpg")
       h5(class="text-center lead") Explore 
       p(class="text-center lead") Graphic Design
      div(class="col-lg")
       div
        img(src="img/portfolio/03-full.jpg")
       h5(class="text-center lead") Finish 
       p(class="text-center lead") Identity
       
     div(class="row")
       div(class="col-lg")
        div
         img(src="img/portfolio/04-full.jpg")
        h5(class="text-center lead") Lines
        p(class="text-center lead") Branding
       div(class="col-lg")
        div
         img(src="img/portfolio/05-full.jpg")
        h5(class="text-center lead") Southwest
        p(class="text-center lead") Website Design
       div(class="col-lg")
        div
         img(src="img/portfolio/06-full.jpg")
         
        h5(class="text-center lead") Window
        p(class="text-center lead") Photography
  div(id="ABOUT" class="block")
   div(class="heading")  
    h5(class="lead text-center") ABOUT
    p(class="text-center lead") Lorem ipsum dolor sit amet,
   
   div(class="about-container left img1")
    div(class="about-content")
     h2(class="text-center lead") Our Humble Beginnings
     p(class="text-center lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
   
   div(class="about-container right img2")
    div(class="about-content")
     h2(class="text-center lead") An Agency is Born
     p(class="text-center lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
     
   div(class="about-container left img3")
    div(class="about-content")
      h2(class="text-center lead") Transition to Full Service
      p(class="text-center lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
     
   div(class="about-container right img4")
    div(class="about-content")
     h2(class="text-center lead") Phase Two Expansion
     p(class="text-center lead") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
  
  
   
  div(id="TEAM" class="block")
   h5(class="text-center lead") OUR AMAZING TEAM
   p(class="text-center lead") Lorem ipsum dolor sit amet consectetur.  
  
   div(class="grid")
    div(class="container") 
     div(class="row") 
      div(class="col-sm-4")
        div(class="team-member")
          img(class="mx-auto rounded-circle" src="img/team/1.jpg" alt="")
          h4(class="text-muted text-center lead") Kay Garland
          p(class="text-muted text-center lead") Lead Designer
        
                
  
          
           
      div(class="col-sm-4")
        div(class="team-member")
          img(class="mx-auto rounded-circle" src="img/team/2.jpg" alt="")
          h4(class="text-muted text-center lead") Kay Garland
          p(class="text-muted text-center lead") Lead Designer
           
      div(class="col-sm-4")
       div(class="team-member")
        img(class="mx-auto rounded-circle" src="img/team/3.jpg" alt="")
        h4(class="text-muted text-center lead") Kay Garland
        p(class="text-muted text-center lead") Lead Designer
      
      
  div(id="LOGO" class="block")  
   div(class="gridlogo")  
    div(class="containerlogo")
     div(class="row")
      div(class="col-lg")
        img(src="img/logos/creative-market.jpg")
            
      div(class="col-lg")
       img(src="img/logos/designmodo.jpg")
      div(class="col-lg")
       img(src="img/logos/envato.jpg")
      
      
  div(id="CONTACT" class="block"  style="background-image: url('map.jpg');")
   h2(class="section-heading text-center lead text-uppercase") Contact Us
   p(class="section-subheading text-center lead text-muted") Lorem ipsum dolor sit amet consectetur.</h3>
    
   div(class="contactgrid ")
    div(class="container ")
     div(class="row ")     
      div(class="col-lg-12 ")
       form(id="contactForm" name="sentMessage" novalidate="novalidate" )
        div(class="row ")    
         div(class="col-md-6 ")
          div(class="form-group")
           input(class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.")
          div(class="form-group")
           input(class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.")
          div(class="form-group")
           input(class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.")
          div(class="form-group")
           div(id="success ")
            button(id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit") Send Message
                
         div(class="col-md-6")
          div(class="form-group")
           textarea( rows="10" cols="10"  class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message.")
         
  div(id="footer" class="block")

   div(class="grid")
    div(class="container")
     div(class="row")
      div(class="col-lg-3")
       h5(class="text-center lead") About us
       p(class="text-center lead") This is a geat Bootstrap footer designed by Mohamed . Necessary information and useful links have been provided in columns. There are subheadings for each column. The About Us subheading gives some brief information about the company.
      
      
      div(class="col-lg-3")
       ul
        li
         a(href="#") facebook
        li 
         a(href="#") Twitter
        li
         a(href="#") Instgram
        li
         a(href="#") Snapchat
      
      div(class="col-lg-3")
       ul
        li
         a(href="#") BLOG
        li 
         a(href="#") FAQ
        li
         a(href="#") Terms
        li
         a(href="#") Privacy
         
      div(class="col-lg-3")
       ul
        li
         a(href="#") Join Us
        li 
         a(href="#") Contact US
        li
         a(href="#") About US
        li
         a(href="#") ASK
         
      
     
     
     
     
      
      
  script(src="js/jquery-3.4.1.min.js")
  script(src="js/fontawesome.min.js")
  script(src="js/bootstrap.min.js")  
  script(type="text/javascript" src="js/style.js")
